<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D72F618C1CCDFEA900EF0ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72F61A01CCDFEA900EF0ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72F61AB1CCDFEA900EF0ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
